body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
} */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
}

.documents h3 {
    font-size: 1.2rem;
    line-height: 1.5;
}
  

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    font-size: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.documents {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.documents h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.documents ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.documents li {
    margin-bottom: 10px;
}

.documents li span {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    form {
        flex-basis: 60%;
        margin-right: 40px;
    }

    .documents {
        flex-basis: 40%;
        margin-top: 0;
    }
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
  }
  
  button[type="submit"]:hover {
    background-color: #007A8B;
  }
  